// ボタンの見た目
$button-thickness: 2px;// ボタンの厚み

@mixin button-decoration($color){
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.3);
  background: $color;
  border-bottom: solid $button-thickness darken($color,15%);
}
@mixin button-decoration-active($button-thickness){
  margin-top: $button-thickness;
  border-bottom: none;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  cursor: unset;
}
